* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(
    130.09deg,
    rgba(46, 9, 22, 0.897) 15.93%,
    rgba(32, 10, 43, 0.877) 79.07%
  );
  // -webkit-backdrop-filter: brightness(70%);
  // backdrop-filter: brightness(70%);
  box-shadow: 26px 24px 90px rgba(31, 26, 51, 0.13);
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main {
  position: relative;
  width: 100vw;
  @media (min-width: 1280px) and (max-width: 1439px) {
    width: 100%;
  }
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  .wrapper {
    @media (min-width: 1640px) {
      width: 1440px;
    }
    @media (min-width: 1440px) and (max-width: 1639px) {
      width: 1114px;
    }
    @media (min-width: 1280px) and (max-width: 1439px) {
      width: 960px;
    }
  }
}
