@use 'variables/colors';
@import './mixins/texts';

.footer {
  background-color: 360B1A;
  border-top: 1px solid colors.$grey-white;
  width: 100%;
  min-height: 60vh;
  padding-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .body {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .contactForm {
      width: 100%;
      height: auto;
      display: flex;
      flex-wrap: wrap;

      .mail {
        width: 60%;
        height: auto;
        border: 1px solid colors.$grey-white;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1.5rem;
        gap: 0.5rem;

        h1 {
          @include footer-h1-text(40px)
        }

        p {
          @include footer-p-text(10px)
        }

        .inputs {
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          height: auto;
          row-gap: 2rem;
          padding: 1.5rem 0 1.5rem 0;
          justify-content: space-between;



          .inpContainer {
            display: flex;
            height: 1.5rem;
            width: 48%;
            position: relative;


            input {
              border: 0;
              border-radius: 3px;
              width: 100%;
            }

          }

          .inpContainer:nth-child(5) {
            height: 3rem;
            width: 100%;
          }

          .inpContainer::after {
            display: block;
            position: absolute;
            @include footer-p-text(12px);
            height: 1rem;
            width: auto;
            top: -1rem;
          }

          .inpContainer:nth-child(1)::after {
            content: 'Name*';
          }

          .inpContainer:nth-child(2)::after {
            content: 'Email*';
          }

          .inpContainer:nth-child(3)::after {
            content: 'phone';
          }

          .inpContainer:nth-child(4)::after {
            content: 'needed service*';
          }

          .inpContainer:nth-child(5)::after {
            content: 'message';
          }
        }

        button {
          padding: 2px 10px 2px 10px;
          align-self: end;
          border-radius: 5px;
          @include footer-button-text(14px);
          border: 0;
          background-color: rgba(255, 91, 121, 0.71);
          cursor: pointer;
          // background-color: colors.$red-pink;
          // opacity: 0.71;
        }
      }

      .info {
        width: 40%;
        height: inherit;
        border: 1px solid colors.$grey-white;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1.5rem;
        gap: 0.5rem;


        h1 {
          @include footer-h1-text(40px);
          text-align: center;
          position: relative;
        }

        // h1::after{
        //   content:'';
        //   display: block;
        //   width: 100%;
        //   height: 1px;
        //   background-color: colors.$grey-white;
        //   position: absolute;
        //   top:3rem
        // }

        .infoContainer {
          width: 100%;
          height: auto;
          background-color: transparent;
          padding: 2rem 0 2rem 0;
          display: flex;
          flex-direction: column;
          row-gap: 1rem;
          border-top: 1px solid colors.$grey-white;
          border-bottom: 1px solid colors.$grey-white;

          .location,
          .mailAddress {
            display: flex;
            flex-direction: row;
            @include footer-p-text(12px);


            .icon {
              margin-right: 0.5rem;
            }
          }
        }
      }

      .socialIcons {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 1rem;
        padding: 2rem 0 2rem 0;
      }

      svg:hover {
        cursor: pointer;
        stroke: colors.$red-pink;
      }
    }

    .allRights {
      margin: 2rem 0 1rem 0;
      @include footer-allRights-text(12px)
    }
  }

}