@use 'variables/colors';
@import './mixins/texts';

.footer{
  background-color: 360B1A;
  border-top: 1px solid rgb(255, 255, 255, 0.7);
  width: 100vw;
  height: auto;
  margin-top: 15rem;
  padding-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  
  .body{
    border: 5px solid white;
    width: 80%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .contactForm{
      border: 5px solid white;
    width: 80%;
    height: 300px;
    display: flex;
    }
    .allRights{
      @include footer-allRights-text(14px)
    }
  }
}