@use 'variables/colors';
@import './mixins/texts';

.homepage {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  .body {
    width: 100%;
    height: auto;
    @media only screen and (min-width: 1640px) {
      padding-top: 167px;
    }
    @media only screen and (min-width: 1440px) and (max-width: 1639px) {
      padding-top: 137px;
    }
    @media only screen and (min-width: 1280px) {
      width: 960px;
      padding-top: 77px;
    }
    height: 595px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .ilustration {
      width: 585px;
      height: 595px;
      @media only screen and (min-width: 1280px) {
        width: 435px;
        height: 445px;
        img{
          width: 435px;
          height: 445px;
        }
      }
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    .textBlock {
      @media only screen and (min-width: 1640px) {
        width: 525px;
      }
      @media only screen and (min-width: 1440px) and (max-width: 1639px) {
        width: 431px;
      }
      @media only screen and (min-width: 1280px) {
        width: 431px;
        height: 450px;
        display: flex;
        flex-direction: column;
      }
      height: 554px;
      .topic {
        @include main-topic-text(20px);
        @media only screen and (min-width: 1280px) {
          @include main-topic-text(15px);
        }
      }
      .title {
        @include main-title-text(68px);
        @media only screen and (min-width: 1280px) {
          @include main-title-text(58px);
        }
        margin-top: 15px;
      }
      .description {
        margin-top: 25px;
        @include main-description-text(16px);
        @media only screen and (min-width: 1280px) {
          @include main-description-text(12px);
        }
      }
      .button {
        width: 200px;
        height: 83px;
        background: none;
        border: 0;
        background-image: url(./../images/ilustrations/button.svg);
        background-repeat: no-repeat;
        cursor: pointer;
        @media only screen and (min-width: 1640px) {
          margin-top: 93px;
        }
        @media only screen and (min-width: 1440px) and (max-width: 1639px) {
          margin-top: 77px;
        }
        @include main-button-text(16px);
        @media only screen and (min-width: 1280px) {
          @include main-button-text(12px);
          width: 170px;
          height: 63px;
          background-size:contain;
         margin-top: 30px;
         align-self: flex-end;
        }
        p {
          margin-right: 12px;
          margin-bottom: 7px;
          top: 27px;
          left: 44px;
          @media only screen and (min-width: 1280px) {
            margin-right: 26px;
            margin-bottom: 3px;
            top: 27px;
            left: 44px;
          }
        }
      }
    }
  }
  .scrollShown {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 74px;
    height: auto;
    padding-bottom: 10px;
    transition: all 0.6s 0s ease;
    opacity: 1;
    .arrow {
      width: 100%;
      height: 34px;
      display: flex;
      justify-content: center;
      align-items: center;
      animation-name: movingTop;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      @keyframes movingTop {
        0% {
          transform: translateY(0px);
        }
        100% {
          transform: translateY(7px);
        }
      }
      img {
        width: 60%;
      }
    }
    .scrollText {
      width: 74px;
      height: 32px;
      @include main-scroll-text(16px);
    }
  }
  .scrollHidden {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 74px;
    height: auto;
    padding-bottom: 10px;
    visibility: hidden;
    transition: all 0.6s 0s ease;
    opacity: 0;
    .arrow {
      width: 100%;
      height: 34px;
      @media only screen and (min-width: 1280px) {
        width: 100%;
      height: 34px;
       }
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 60%;
      }
    }
    .scrollText {
      width: 74px;
      height: 32px;
      text-align: center;
      @include main-scroll-text(13px);
      @media only screen and (min-width: 1280px) {
        width: 50px;
        height: 32px;
        @include main-scroll-text(10px);
        margin-left: 22.5px;
       }
    }
  }
}
