@use 'variables/colors';
@use 'fonts';
@import './mixins/texts';

.menu {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateX(-100%);
  @media (min-width: 390px) and (max-width: 428px) {
    transform: translateX(-200%);
  }
  .blur {
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(4px) brightness(40%);
    position: absolute;
    z-index: 20;
  }
  .navigation {
    max-width: 1440px;
    height: 60px;
  }
  .menuContent {
    z-index: 10;
    width: 447px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    ul li a {
      @include menu-text(68px);
      @media only screen and (min-width: 1280px) {
        @include menu-text(58px);
      }
    }
    ul li a:link,
    ul li a:visited {
      text-decoration: none;
    }
    ul li a:active,
    ul li a:hover {
      text-decoration: underline;
      cursor: pointer;
    }
    ul {
      list-style-type: none;
    }
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 14px;
    }
    li:nth-last-child(1) {
      margin-bottom: 0px;
    }
  }
}

.menuActive {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateY(0);
  .blur {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.89);
  }
  .navigation {
    max-width: 1440px;
    height: 60px;
  }
  .menuContent {
    z-index: 10;
    width: 447px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media only screen and (min-width: 1280px) {
      margin-top: auto;
    }
    ul li a {
      @include menu-text(68px);
      @media only screen and (min-width: 1280px) {
        @include menu-text(58px);
      }
      height: 100%;
    }
    ul li a:link,
    ul li a:visited {
      text-decoration: none;
    }
    ul li a:active,
    ul li a:hover {
      text-decoration: underline;
      cursor: pointer;
    }
    ul {
      list-style-type: none;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @media only screen and (min-width: 1280px) {
        justify-content: space-evenly;
      }
    }
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 54px;
    }
  }
}
