@use 'variables/colors';
@import './mixins/texts';

// 1440px
.workflow {
  width: 100%;
  height: 545px;
  display: flex;
  flex-direction: column;
  @media all and (max-width: 1440px) {
    height: 495px;
  }
  .topic {
    @include main-topic-text(20px);
    align-self: flex-start;
    margin-bottom: 14px;
  }

  .cardContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
    column-gap: 45px;
    position: relative;
    @media all and (min-width: 390px) and (max-width: 428px) {
      flex-direction: column;
    }

    .card {
      width: 400px;
      height: 500px;
      border-radius: 15px;
      background-color: colors.$workflow-pink;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding: 25px 50px;
      row-gap: 25px;
      @media all and (max-width: 1440px) {
        height: 450px;
        width: 340px;
        padding: 25px 15px;
      }
      .number {
        @include workflow-number(80px);
        position: absolute;
        @media all and (max-width: 1440px) {
          top: 11px;
          @include workflow-number(75px);
        }
      }
      .spots {
        width: 135px;
        height: 105px;
      }

      @media all and (min-width: 390px) and (max-width: 428px) {
        width: 100%;
      }

      h2 {
        @include title-text(44px);
        text-align: center;
        text-transform: uppercase;
        @media all and (max-width: 1440px) {
          @include title-text(40px);
        }
      }

      .description {
        @include description-text(20px);
        text-align: center;
        @media all and (max-width: 1440px) {
          @include description-text(18px);
        }
      }
    }
    .firstArrow,
    .secondArrow {
      width: 30px;
      height: 40px;
    }
    .firstArrow {
      @media all and (max-width: 1440px) {
        position: absolute;
        top: 50%;
        left: 348px;
        transform: translateY(-50%);
      }
    }
    .secondArrow {
      @media all and (max-width: 1440px) {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 733px;
      }
    }
  }
}
